# Environments
.env
.venv
.vscode
env/
venv/
ENV/
env.bak/
venv.bak/


#Misc
wordlists/*
lib/*
amass_output/
output/
programs.json
programs.temp.json
amass_config.ini
lib
.vscode/settings.json
config.json
amass_config.ini
geckodriver.log